<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IFilterTextViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <IFilterTextViewer.Properties.Settings>
            <setting name="IncludeProperties" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TextToFind" serializeAs="String">
                <value />
            </setting>
            <setting name="TextToFindWithRegex" serializeAs="String">
                <value />
            </setting>
            <setting name="DisableEmbeddedContent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReadIntoMemory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimeoutTextBox" serializeAs="String">
              <value>100</value>
            </setting>
        </IFilterTextViewer.Properties.Settings>
    </userSettings>
</configuration>